<a href="https://colab.research.google.com/github/hlelabir/Gomycode/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=labels)
print(df)
print("#############################################################")
print(df.head(3))
print("#############################################################")
a=np.where(df.isna().any(axis=1))[0]
df1=pd.DataFrame(exam_data,index=[0,1,2,3,4,5,6,7,8,9])
df1.drop(a,axis=0,inplace=True)
print(df1)
print("#############################################################")
print(df[["name","score"]])
print("#############################################################")
b={'name':"surech","score":15.5,"attempts":1,"qualify":"yes"}
df.loc[len(df)]=b
print(df)
print("#############################################################")
df.drop(["attempts"],axis=1,inplace=True)
print(df)
print("#############################################################")
Success=[]
for i in df.index:
  if df["score"][i]<10:
    Success.append(0)
  else:
    Success.append(1)
df["Success"]=Success
print(df)
print("#############################################################")
df.to_csv('my_data')
df1=pd.read_csv('my_data')
print(df1)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
#############################################################
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
#############################################################
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
#############################################################
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
#############################################################
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b        Dima    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f     Michael   20.0         3     yes
g     Matthew   14.5         1     yes
h       Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes
10     surech   15.5         1     yes
#############################################################
         name  score qualify
a   Anastasia   12.5     yes
b        Dima    9.0      no
c   Katherine   16.5     yes
d       James    NaN      no
e       Emily    9.0      no
f     Michael   20.0     yes
g     Matthew   14.5     yes
h       Laura    NaN      no
i       Kevin    8.0      no
j       Jonas   19.0     yes
10     surech   15.5     yes
#############################################################
         name  score qualify  Success
a   Anastasia   12.5     yes        1
b        Dima    9.0      no        0
c   Katherine   16.5     yes        1
d       James    NaN      no        1
e       Emily    9.0      no        0
f     Michael   20.0     yes        1
g     Matthew   14.5     yes        1
h       Laura    NaN      no        1
i       Kevin    8.0      no        0
j       Jonas   19.0     yes        1
10     surech   15.5     yes        1
#############################################################
   Unnamed: 0       name  score qualify  Success
0           a  Anastasia   12.5     yes        1
1           b       Dima    9.0      no        0
2           c  Katherine   16.5     yes        1
3           d      James    NaN      no        1
4           e      Emily    9.0      no        0
5           f    Michael   20.0     yes        1
6           g    Matthew   14.5     yes        1
7           h      Laura    NaN      no        1
8           i      Kevin    8.0      no        0
9           j      Jonas   19.0     yes        1
10         10     surech   15.5     yes        1